<div class="container">
  <mat-card class="settings-container">
    <div>
      <p class="settings-text">Number of horizontal lines:</p>
      <mat-slider
        class="full-width"
        [max]="10"
        [min]="0"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="'auto'"
      >
      </mat-slider>
    </div>
    <div>
      <p class="settings-text">Number of vertical lines:</p>
      <mat-slider
        class="full-width"
        [max]="10"
        [min]="0"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="'auto'"
      >
      </mat-slider>
    </div>
  </mat-card>
  <div>
    <canvas #myCanvas></canvas>
  </div>
</div>
