<div
  appDragAndDrop
  class="dnd-container"
  (fileHover)="onFileHover($event)"
  (fileDropped)="onFileDropped($event)"
  [ngClass]="fileHover && 'dnd-file-hover'"
>
  <div class="icon-upload-container">
    <mat-icon
      class="icon-upload"
      [inline]="true"
      [ngClass]="fileHover && 'icon-file-hover'"
      >add_photo_alternate</mat-icon
    >
  </div>
  <p>Drag & Drop your image here</p>
  <p>or</p>
  <button
    class="btn-browse"
    mat-raised-button
    color="primary"
    (click)="inputImageUpload.click()"
  >
    Browse for an image
  </button>
  <!-- Hidden input for file upload-->
  <input type="file" #inputImageUpload hidden />
</div>
