.dnd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='black' stroke-width='3' stroke-dasharray='8%2c8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 2rem;
  padding: 1rem 8rem;
  transition: background-color 0.2s;
}
.dnd-file-hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='black' stroke-width='3' stroke-dasharray='8%2c8' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: rgba(63, 81, 181, 0.2);
}
.icon-upload {
  transition: transform 0.5s;
}
.icon-file-hover {
  transform: scale(1.2);
}

.icon-upload-container {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
.btn-browse {
  margin: 0.5rem 0;
}
p {
  padding: 0;
  margin: 0.5rem 0;
}
